.tabs-component {
  margin: 32px 0;
}
.tabs-component .tabs-component-tabs {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: -1px;
  padding: 0;
  border: 1px solid var(--vp-c-divider);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}
.tabs-component .tabs-component-tabs .tabs-component-tab {
  margin: 0;
  color: var(--vp-c-brand);
  font-size: 14px;
  font-weight: 600;
  list-style: none;
  border-left: 1px solid var(--vp-c-divider);
  border-bottom: 1px solid transparent;
}
.tabs-component .tabs-component-tabs .tabs-component-tab:first-child {
  border-left: none;
}
.tabs-component .tabs-component-tabs .tabs-component-tab.is-active {
  border-bottom-color: var(--vp-c-bg);
}
.tabs-component .tabs-component-tabs .tabs-component-tab .tabs-component-tab-a {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
}
.tabs-component .tabs-component-panels {
  padding: 16px 24px;
  border: 1px solid var(--vp-c-divider);
  border-radius: 0 8px 8px 8px;
}
